In [1]:
import pandas as pd

In [6]:
pd.read_csv("dataframes\maxi_filtered_df3000.csv")

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,index,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,...,Romance.2,Sci-Fi.2,Sport.2,Thriller.2,War.2,Western.2,region_x,region_y,origin,Language
0,15982,16362,65275,84003,84003,tt0111161,movie,The Shawshank Redemption,The Shawshank Redemption,0,...,0,0,0,0,0,0,NaN,"['AU', 'US', 'IR', 'FR', 'KR', 'FI', 'PT', '\\...",US,en
1,24919,26788,147662,244065,244065,tt0468569,movie,The Dark Knight,The Dark Knight,0,...,0,0,0,0,0,0,NaN,"['US', 'NL', 'PL', 'US', 'GB', 'BR', 'AR', 'SK...",US,en
2,31579,34482,187270,376251,376251,tt1375666,movie,Inception,Inception,0,...,0,1,0,0,0,0,NaN,"['VN', 'IN', 'US', 'RU', 'US', 'KR', 'BE', 'ID...",US,en
3,18171,18688,76369,100094,100094,tt0137523,movie,Fight Club,Fight Club,0,...,0,0,0,0,0,0,NaN,"['JP', 'IN', 'UZ', 'AZ', 'AT', 'MX', 'BG', 'HR...",US,en
4,15751,16117,64386,82954,82954,tt0109830,movie,Forrest Gump,Forrest Gump,0,...,1,0,0,0,0,0,NaN,"['ES', 'HU', 'DE', 'FI', 'CA', 'FI', 'SK', 'TR...",Not US,fr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,30279,33009,178322,343410,343410,tt12536294,movie,Spencer,Spencer,0,...,0,0,0,0,0,0,NaN,"['IN', 'SG', 'IE', 'AE', 'UY', 'DE', 'EC', 'US...",US,en
2996,21611,22865,121292,186402,186402,tt0310775,movie,Sympathy for Mr. Vengeance,Boksuneun naui geot,0,...,0,0,0,1,0,0,NaN,"['CZ', 'KR', 'SE', 'HU', 'AE', 'ID', 'NO', 'HR...",Not US,ro
2997,37854,42059,231068,541564,541564,tt2452244,movie,Isn't It Romantic,Isn't It Romantic,0,...,0,0,0,0,0,0,NaN,"['PL', 'TR', 'XWW', 'UA', 'CA', 'PT', 'HR', 'I...",US,en
2998,31502,34399,186741,374044,374044,tt1366344,movie,The Sitter,The Sitter,0,...,0,0,0,0,0,0,NaN,"['JP', '\\N', 'TW', 'BR', 'US', 'RU', 'DE', 'H...",US,en
2999,35979,39755,217557,488620,488620,tt2039393,movie,The Gambler,The Gambler,0,...,0,0,0,1,0,0,NaN,"['FR', 'US', 'DE', 'UA', 'LT', 'HR', 'IE', 'BR...",US,en